<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://html-to-pdf-azureapp-container20240827171109.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/349260c9-c5a3-4c13-8f1c-7a9f185aa74d/resourcegroups/HTMLtoPDF/providers/Microsoft.Web/sites/HTML-to-PDF-AzureApp-container20240827171109</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/349260c9-c5a3-4c13-8f1c-7a9f185aa74d/resourcegroups/HTMLtoPDF/providers/Microsoft.ContainerRegistry/registries/HTMLtoPDFAzureAppcontainer20240827171535</ContainerResourceId>
    <ContainerResourceName>HTMLtoPDFAzureAppcontainer20240827171535</ContainerResourceName>
    <Subscription>Visual Studio Professional Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>htmltopdfazureappcontainer20240827171535.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>