<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://html-to-pdf-azure-functions20240723105928.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/349260c9-c5a3-4c13-8f1c-7a9f185aa74d/resourcegroups/HTMLtoPDF/providers/Microsoft.Web/sites/HTML-to-PDF-Azure-Functions20240723105928</ResourceId>
    <UserName>$HTML-to-PDF-Azure-Functions20240723105928</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://html-to-pdf-azure-functions20240723105928.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>