<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/1c86cfe8-d6e1-4001-abea-b770148ea099/resourceGroups/HtmlToPDFAzureTesting/providers/Microsoft.Web/sites/appservice19976</ResourceId>
    <ResourceGroup>HtmlToPDFAzureTesting</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://appservice19976.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>608e6a75-ccb0-4542-abaa-a4b8a1b1a722</ProjectGuid>
    <PublishUrl>https://appservice19976.scm.azurewebsites.net/</PublishUrl>
    <UserName>$appservice19976</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>