<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://htmltopdfazurefunctions20240912160330.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f2a6fc40-66ca-4ee9-82c9-b8f94b50111c/resourceGroups/HTMLtoPDF/providers/Microsoft.Web/sites/HTMLtoPDFAzurefunctions20240912160330</ResourceId>
    <UserName>$HTMLtoPDFAzurefunctions20240912160330</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://htmltopdfazurefunctions20240912160330.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>