@{
    ViewData["Title"] = "Home Page";
}

@{
    Html.BeginForm("ConvertToPdf", "Home", FormMethod.Post);
    {
        <div>
            <input type="submit" value="Convert HTML to PDF" />
        </div>
    }
    Html.EndForm();
}
