@{
    ViewBag.Title = "Home Page";
}

@{Html.BeginForm("ConvertHTMLToPDF", "Home", FormMethod.Post);
    {
        <div>
            <input type="submit" value="Convert HTML to PDF" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}