@{
    Html.BeginForm("ExportToPDF", "Home", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Export To PDF" style="width:200px;height:27px" />
        </div>
    }
    Html.EndForm();
}

