<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/769989c2-4252-4d3e-ac5f-1774a3952f83/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/HTMLtoPDFAzureappservice20221125112135</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://htmltopdfazureappservice20221125112135.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4ec24856-ee8c-40ab-9cd3-6b9669257b24</ProjectGuid>
    <PublishUrl>https://htmltopdfazureappservice20221125112135.scm.azurewebsites.net/</PublishUrl>
    <UserName>$HTMLtoPDFAzureappservice20221125112135</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>