<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ef650439-cd07-4bd9-b832-8bad1e97be7f/resourcegroups/pdf-html-testing/providers/Microsoft.Web/sites/HtmlToPdfBlinkAzureAppLinux20230312215919</ResourceId>
    <ResourceGroup>pdf-html-testing</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://htmltopdfblinkazureapplinux20230312215919.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d01b740e-4fbc-4e24-8cdf-e3102eeb76ad</ProjectGuid>
    <PublishUrl>https://htmltopdfblinkazureapplinux20230312215919.scm.azurewebsites.net/</PublishUrl>
    <UserName>$HtmlToPdfBlinkAzureAppLinux20230312215919</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>